<div id="chat-container" class="chat-container">
  <div id="chat-history" class="chat-history"></div>
  <div class="input-area">
    <input type="text" id="message-input" placeholder="Type your message..." />
    <button id="send-button">
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</div>
