Queried Successfully!<br />
<div class="section_header">Token (this is the token in the server session)</div>
<div class="token_results"><%= (token) ? token : '' %></div>

<div class="section_header">Results</div>
<div class="container">
  <table class="table table-primary table-hover">
    <thead>
      <tr>
          <% for (let key in results[0]) { %>
              <th scope="col"><%= key %></th>
          <% } %>
      </tr>
    </thead>

    <tbody>
      <% results.forEach(function(row) { %>
          <tr>
              <% for (let key in row) { %>
                  <td scope="row"><%= row[key] %></td>
              <% } %>
          </tr>
      <% }); %>
    </tbody>
  </table>
</div>
