<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header'); %>
</head>
<body class="container">
<main>
  <div class="row">

    <div class="col-10">
        <%- include('../partials/home'); %>
    </div>


    <div class="col-2">
      <a href='/logout'>
        <button>Clear Session</button>
      </a>
      <%- include('../partials/chat'); %>
    </div>
  </div>
 
  </main>
    <footer>
    <%- include('../partials/footer'); %>
    </footer>

    <script type='text/javascript' src='/js/main.js' defer></script>

</body>


</html>